.app {
  height:100vh;
}

.btn {
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 2px; 
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  border-color: transparent;
  background-color: hsl(0, 0%, 100%);
}

.card {
  border: none;
  background-color: hsl(0, 0%, 100%);
}

.card:hover {
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 2px; 
}

.card-body {
  height: 180px;
}

.card-title {
  font-weight:800;
  font-size: 16px;
}

.country-details-body {
  font-size: 16px;
}

.country-details-title {
  font-weight:800;
  font-size: 24px;
}

.dark-mode {
  font-weight: 600;
}

.dropdown-menu {
  background-color: hsl(0, 0%, 100%);
  border: none;
  font-size: 14px;
  width: 175px;

}

.dropdown-toggle {
  font-size: 14px;
  height: 55px;
  width: 175px;
}

.dropdown-toggle::after {
  border: solid hsl(200, 15%, 8%);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left:1rem;
  vertical-align:0.15rem;
}


footer {
  position: bottom;
  bottom:0;
  background-color: hsl(0, 0%, 100%);
}

.form-control:focus{
  border: none;
  outline:none;
  transition: none;
  border-color:none;
  box-shadow: none;
}

.form-control:focus-visible:focus:active{
  border: none;
  outline:none;
  transition: none;
  border-color:none;
  box-shadow: none;
}

.flag-img {
  width:100%;
  height:200px;
}

.flag-img-details {
  width:100%;
}

.h3 {
  font-weight: 800;
}

.header {
  background-color: hsl(0, 0%, 100%);
}

main{
  min-height:100vh;
}

.search-input {
  padding: 1rem 0;
  border: none;
  outline:none;
  width: 100%;
  height: 55px;
  background-color: hsl(0, 0%, 100%);
}

.search-input:focus{
  border: none;
  outline:none;
  background-color: hsl(0, 0%, 100%);
}
.search-input:focus-visible:focus:active{
  border: none;
  outline:none;
  background-color: hsl(0, 0%, 100%);
}

.search-input-group {
  background-color: hsl(0, 0%, 100%);
}

select {
  border: none;
  cursor: pointer;
}

select:focus-visible{
  border: none;
  outline: none;
}

.select-region select option {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
}

/* Bootstrap Dark Theme customizations */
[data-bs-theme="dark"] {

  --bs-body-bg: hsl(207, 26%, 17%);

  .app{
    background-color: hsl(207, 26%, 17%);
  }

  .btn {
    background-color: hsl(209, 23%, 22%);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border-color: transparent;
  }

  .btn:hover {
    background-color: hsl(207, 26%, 14%);
  }

  .card {
    background-color: hsl(209, 23%, 22%);
  }

  .card:hover{
    background-color: hsl(207, 26%, 14%);
  }

  .dropdown-menu {
    background-color: hsl(209, 23%, 22%);
  }

  .dropdown-item:hover{
    background-color: hsl(207, 26%, 14%);
  }

  .dropdown-toggle::after {
    border: solid hsl(0, 0%, 100%);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left:0.5rem;
    vertical-align:0.15rem;
  }

  .footer {
    background-color: hsl(209, 23%, 22%);
  }

  .form-control {
    background-color: hsl(209, 23%, 22%);
  }

  .header {
    background-color: hsl(209, 23%, 22%);
  }
  
  .search-input-group {
    background-color: hsl(209, 23%, 22%);
  }

  .search-input:focus{
    background-color: hsl(209, 23%, 22%);
  }

  .search-input:focus-visible:focus:active{
    background-color: hsl(209, 23%, 22%);
  }

}
