.app {
  height:100vh
}

.dark-mode {
  font-weight: 600;
}

.card:hover {
  cursor: pointer;
}

.card-body {
  height: 180px;
}

.card-title {
  font-weight:800;
  font-size: 16px;
}

.country-details-body {
  font-size: 16px;
}

.country-details-title {
  font-weight:800;
  font-size: 24px;
}


footer {
  position: bottom;
  bottom:0;
}

.flag-img {
  width:100%;
  height:200px;
}

.flag-img-details {
  width:100%;
}

.h3 {
font-weight: 800;
}

main{
  min-height:100vh
}

.search-input {
  padding: 1rem 0;
  border: none;
  outline:none
}

.search-input:focus-visible:focus:active{
  border: none;
  outline:none
}

select {
  border: none;
  cursor: pointer;
}

select:focus-visible{
  border: none;
  outline: none;
}

.select-region select option {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
}