@font-face {
  font-family: nunito-variable;
  src: url('../src/assets/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: nunito-italic;
  src: url('../src/assets/fonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: italic;
}

html[data-bs-theme="light"] {
  --bs-body-bg: hsl(0, 0%, 98%);
}

body {
  margin: 0;
  font-family:'nunito-variable';
  font-size: 14px;
  width:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100vh;
  min-height: 100vh;
}
